<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Settings</string>
		<string>HelpScene</string>
		<string>Attack</string>
		<string>Shop</string>
		<string>Spells</string>
		<string>Buy</string>
		<string>Splash</string>
		<string>MainMenu</string>
		<string>Game</string>
		<string>Maps</string>
		<string>BasicSprites</string>
		<string>GageBar</string>
		<string>Walking</string>
		<string>Monsters</string>
		<string>DeadScene</string>
		<string>PausedScene</string>
		<string>Potion</string>
		<string>HelperClass</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
